@{
    ViewData["Title"] = "Технические работы";
}



    <div class="text-center">
        <h1 class="colortext">@ViewData["Title"]</h1>
        <h1 class="colortext">Внимание!!! Сайт временно недоступен</h1>
        <image height="100%" width="100%" src="https://sevenergo.net/images/2020/05/16/e7b0eb75d7220c605be7bb6029582151.jpg"></image>
        <h1 class="colortext">Приносим свои извинения</h1>
    </div>
