@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Подтверждение восстановления пароля";
}

<h1 class="colortext">@ViewData["Title"]</h1>
<body class="body">
    <p class="colortext">
        Посмотрите почту, для смены пароля.
    </p>
</body>
